@import '../../app/palette.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
  align-self: flex-start;
  padding-bottom: 32px;
}

.text {
  font-size: var(--text-primary-size);
  font-weight: var(--text-primary-weight);
  line-height: var(--text-primary-line-height);
  color: var(--text-primary-color);
  text-wrap: balance;
  cursor: default;
}

.header {
  font-family: var(--font-hagrid), serif;
  font-weight: 800;
  font-style: italic;
  font-size: var(--text-display-size);
  line-height: 120%;
  background-image: var(--text-display-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

@media screen and (max-width: 428px) {
  .text {
    margin-bottom: 32px;
  }
}
