.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 56px;
  align-items: flex-start;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .container {
    gap: 24px 56px;
  }
}

@media screen and (max-width: 428px) {
  .container {
    gap: 24px 24px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 0 0 auto;
}

.item:last-child {
  flex: 1 1 0;
  min-width: 150px;
}

.header {
  font-size: var(--text-secondary-size);
  font-weight: 700;
  line-height: var(--text-secondary-line-height);
}

.text {
  color: var(--text-primary-color);
  font-size: var(--text-secondary-size);
  font-weight: var(--text-primary-weight);
  line-height: var(--text-secondary-line-height);
}
