.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  gap: 24px;
  padding-bottom: 96px;
}

@media screen and (max-width: 428px) {
  .list {
    gap: 24px;
  }
}
